.about-container {
  display: flex;
  justify-content: space-between;

  margin: 70px auto 0;
}

.hi-container {
  width: 70%;
  margin: 0 auto;
}

.hi-container h1 {
  font-size: 18px;
  color: var(--cr2);
  font-family: roboto mono;
  padding-bottom: 30px;
}

.hi-container h2 {
  font-size: 100px;
  font-weight: 100;
  line-height: 80px;
  letter-spacing: 1px;
  color: var(--cr2);
}

h2 span {
  font-weight: 500;
  color: var(--cr8);
}

.about-bottom-container {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.about-bottom-socials {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 20px;
  width: 49%;
}

.social-buttons {
  display: flex;
  margin-top: 12px;
}

.social-button i {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.social-button i:hover {
  box-shadow: none;
}
.devicon-github-original {
  font-size: 33px;
}

.social-button a {
  margin: 0 20px 5px 0;
  color: var(--cr3);
  font-size: 33px;
  line-height: 32px;
  font-weight: 300;
  transition: 0.4s;
}

.social-button a:hover {
  color: var(--cr8);
}
.download-resume {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.download-resume:hover {
  box-shadow: none;
}

.resume a {
  font-size: 20px;
  margin-right: 0;
  padding: 0 10px;
  border: 1px solid var(--cr3);
  color: var(--cr3);
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume:hover a {
  border-color: var(--cr8);
}

.resume i {
  font-size: 20px;
}

.about-bottom-intro {
  width: 49%;
  background-color: var(--cr6);
  border-radius: 10px;
  border: var(--cr5) solid 1px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-bottom-intro p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  font-family: roboto mono;
  color: var(--cr3);
}

.p-comment,
.about-bottom-intro .p-comment {
  color: var(--cr1);
  font-size: 18px;
  padding-bottom: 12px;
  font-weight: 200;
}

.mail-to {
  color: var(--cr8);
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.mail-to a {
  color: var(--cr2);
  font-weight: 300;
  font-size: 18px;
  transition: 0.3s;
}

.mail-to:hover a {
  color: var(--cr8);
}

@media screen and (max-width: 1280px) {
  .hi-container {
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .hi-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .hi-container {
    width: 95%;
  }

  .hi-container h2 {
    font-size: 90px;
  }

  .about-container {
    margin-top: 20px;
  }

  .about-bottom-container {
    flex-direction: column-reverse;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .about-bottom-intro,
  .about-bottom-socials {
    width: 100%;
    padding: 30px;
  }

  .about-bottom-socials {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .hi-container h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .hi-container h2 {
    font-size: 52px;
    line-height: 50px;
  }
  .about-bottom-container {
    margin-top: 45px;
  }
  .about-bottom-intro {
    padding: 15px;
  }
  .about-bottom-socials {
    margin-top: 15px;
  }
  .mail-to {
    justify-content: center;
    margin-top: 18px;
  }
  .social-buttons {
    justify-content: center;
  }
}
