.posts {
    display: flex;
    gap: 40px;
    width: 80%;
    margin: auto;
    justify-content: center;
    
}

.post {
    width: 40%;
    background-color: var(--cr7);
  border: var(--cr5) solid 1px;
    padding: 10px;
    /* justify-content: center; */
}