* {
  font-family: 'Roboto';
}

.posts {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  justify-content: center;
  
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(33% - 20px);
  /* max-width: calc(30% - 20px); */
  max-width: 320px; 
  height: 400px;
  background-color: var(--cr7);
  border: var(--cr5) solid 1px;
  flex: 1 1 320px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; Allow flexible resizing */
  /* Add padding and margin if necessary */
 
}

.post-card h4 {
  font-size: 15px;
}

.post-card p {
  font-size: 14px;
}



.post-card img {
  width: 100%;
  
  height: 170px;
  object-fit: cover;
  
}

.post-card-text {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space items evenly */
  flex-grow: 1; 

}
.post-card-text p {
  text-align: left;
}

.post-card-top {
  margin-bottom: auto; 
  flex-grow: 1;/* Pushes the date to the bottom */
}

.post-card-text h4 {
  margin-bottom: 5px;
}

.post-date {
  /* margin-top: auto;  */
  margin-left: auto;
  padding: 0 10px;
  font-style: italic;
  /* Pushes the date to the bottom of the card */
  /* Lighter color for the date */
}

.category-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}


.category-checkbox input[type="checkbox"] {
  display: none; /* Hide the actual checkbox */
}

.category-box {
  display: inline-block;
  padding: 1px 10px;
  font-size: 12px;
  background-color: var(--cr7);
  color: var(--cr2);
  border: 1px var(--cr5) solid; 
  transition: background-color 0.2s ease;
}

.category-checkbox input[type="checkbox"]:checked + .category-box {
  background-color: var(--cr8);
  color: var(--cr7); /* Change color when selected */
}

.category-box:hover {
  background-color: var(--cr6);
  
}

.post-wrap {
  margin: auto;
  max-width: 1024px;
  padding-bottom: 70px;
}

.back-link {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}



pre.wp-block-code.language-java {
  margin: 15px 0 10px;
  padding: 12px 15px;
}


@media (max-width: 768px) {
  .post-card {
    flex-basis: calc(50% - 20px); /* Two cards per row */
    max-width: none; /* Remove max-width constraint */
  }
}

@media (max-width: 480px) {
  .post-card {
    flex-basis: 100%; /* One card per row */
  }
}