nav {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  border-bottom: 1px solid var(--cr5);
  overflow: hidden;
  transition: 0.2s;
  z-index: 1;
}

.menu {
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}

.menu-link {
  color: var(--cr3);
  transition: 0.3s;
}

.menu-link:hover:not(.active) {
  color: var(--cr5);
}

.menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 24px;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.menu-link:hover:not(.active)::after {
  transform: translateY(12px);
  opacity: 1;
  background-color: var(--cr2);
}

.active {
  color: var(--cr8);
  font-weight: 500;
}

.active::after {
  transform: translateY(12px);
  opacity: 1;
  background-color: var(--cr8);
}

@media screen and (max-width: 768px) {
  nav {
    padding: 15px 40px;
  }
  .menu {
    position: initial;
    transform: translateX(0);
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 15px;
  }
  li {
    margin-left: 20px;
  }
}
