.post-content {
  margin-bottom: 50px;
}

.featured-image {
  height: 180px;
  object-fit: cover;
  margin-bottom: 25px;
}

.post-content p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.post-content h5 {
  font-size: 17px;
  margin: 2rem 0 1rem;
  font-weight: bold;
}

.post-content ul {
  margin-left: 20px;
}

.post-content ul li {
  list-style: square;
  display: list-item;
  margin-bottom: 1px;
  line-height: 1.5;
  font-size: 15px;
}

.post-content ul,
.post-content ol {
  margin: 0;
  padding-left: 20px;
  display: list-item;
}

.post-content pre {
  padding: 10px 0;
}

.post-content pre code {
  font-size: 14px;
}

pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
}

.wp-block-code {
  border: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.wp-block-code > span {
  display: block;
  overflow: auto;
}

.wp-block-code code.hljs {
  display: block; /* Display as block element */
}

.shcb-language {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
  word-break: normal;
}

.hljs {
  box-sizing: border-box;
}

.hljs.shcb-code-table {
  display: table;
  width: 100%;
}

.shcb-textedit.shcb-textedit-wrap-lines {
  overflow: auto !important;
}

.shcb-textedit.rich-text {
  white-space: pre !important;
  overflow-x: auto !important;
}

.shcb-textedit.rich-text.shcb-textedit-wrap-lines {
  white-space: pre-wrap !important;
}

.code-block-overlay {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: inherit; /* To match the padding in the parent since this is positioned absolutely */
  pointer-events: none;
  position: absolute;
  top: 0;
  white-space: pre;
  width: 100%;
  z-index: 10;
}

.shcb-textedit-wrap-lines + .code-block-overlay {
  white-space: pre-wrap;
}

.code-block-overlay .loc {
  color: transparent;
  display: block;
  line-height: inherit;
}

.code-block-overlay .loc.highlighted {
  background: rgba(86, 213, 255, 0.2);
}

[class^="wp-image"] {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.wp-element-caption {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}


pre[class*='language-'] > code {
  position: relative;
  display: block;
}
