.post-content {
  margin-bottom: 50px;
}

.featured-image {
  height: 180px;
  object-fit: cover;
  margin-bottom: 25px;
}

.post-content p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.post-content h5 {
  font-size: 17px;
  margin: 2rem 0 1rem;
  font-weight: bold;
}

.post-content ul {
  margin-left: 20px;
}

.post-content ul li {
  list-style: square;
  display: list-item;
  margin-bottom: 1px; 
  line-height: 1.5; 
  font-size: 15px;
}

.post-content ul,
.post-content ol {
  margin: 0;
  padding-left: 20px; 
  display: list-item;
}

.post-content pre {
  padding: 10px 0;
}

.post-content pre code {
  font-size: 14px;
}

pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
}
