.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    
}


.project-card {
    display: flex;
    position: relative;
    margin: 10px;
    padding: 15px;
    width: 80%;
    font-size: 14px;
    border: 1px solid #222831;
    background-color: #0F1415;
}

.project-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.project-card:hover::before {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.project-card-top{
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
}

.project-title {
position: relative;
color: #7d8185;
}

.project-title h3 {
    display: inline-block;
    margin-left: 30px;
    font-weight: 300;
    transition: 0.3s
}
.project-title i {
    position: absolute;
    font-size: 21px;
    top: 35%;
    transform: translate(0, -50%);
    transition: 0.3s
}

.project-card:hover::before {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.project-card:hover i,
.project-card:hover h3 {
    color: #ccc;
}


.project-techs {
    display: flex;
}

.project-tech {
    display: inline-block;
    padding: 2px 8px;
    margin: 0 3px;
    background-color: #00adb5;
    color: #222831;
    font-size: 12px;
}

.commercial {
    background: rgb(255, 44, 93);
}

.project-card:hover {
   
  
}

.project-img {
    
}
.project-img img{
    object-fit: cover;
    object-position: left;
    width: 280px;
    
    transition: 0.3s;
    
}
.project-img:hover img{
    
}

.project-text {
  
}

.project-text h3 {

}







