.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.project-card {
    display: flex;
    margin: 20px;
    padding: 12px;
    width: 80%;
    font-size: 14px;
    border-bottom: 1px solid #222831;
    /* box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.2); */
}

.project-card:hover {
   
  
}

.project-img {
    
}
.project-img img{
    object-fit: cover;
    object-position: left;
    width: 280px;
    
    transition: 0.3s;
    
}
.project-img:hover img{
    
}

.project-text {
  
}





