.skill-card {
  width: 170px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px;
  background-color: var(--cr7);
  border: var(--cr5) solid 1px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.skills-container p {
  font-weight: 300;
  font-size: 14px;
  color: var(--cr1);
}

.skill-card img {
  height: 20px;
  position: absolute;
  left: 4px;
}

.certificate-card {
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.certificate-card img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .skill-card {
    max-width: 49%;
  }
}

@media screen and (max-width: 390px) {
  .skill-card {
    max-width: 49%;
    width: initial;
    min-width: 45%;
  }
}
