nav {
    background-color: rgb(21, 109, 186);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
}