@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  font-family: 'Roboto Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: var(--cr4);
  background-color: var(--bg);
  background-attachment: fixed;
  background-image: linear-gradient(
    to left top,
    #262626,
    #222222,
    #1e1e1e,
    #1b1b1b,
    #171717
  );
  --bg: #012e40;
  --cr1: #f2f2f2;
  --cr2: #bfbfbf;
  --cr3: #9c9c9c;
  --cr4: #636363;
  --cr5: #2f2f2f;
  --cr6: #171717;
  --cr7: #0d0d0d;
  --cr8: #01adb5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 span {
  color: #00adb5;
  font-family: Roboto;
}

a {
  text-decoration: inherit;
  color: var(--cr4);
}
a:hover {
}

html {
  height: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@media screen and (max-width: 768px) {
  html {
    scrollbar-gutter: initial;
  }
}
