@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

:root {
  font-family: 'Roboto Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: var(--cr3);
  background-color: #eeece8;
  background-attachment: fixed;
  

  --cr1: #000000;
  --cr2: #363635;
  --cr3: #3a3838;
  --cr4: #15150e;
  --cr5: #a5a599;
  --cr6: #e6e5df;
  --cr7: #f0f0eb;
  --cr8: #01ADB5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  text-align: left;
}

h1 span {
  color: var(--cr8);
  font-family: Roboto;
}

a {
  text-decoration: inherit;
  color: var(--cr4);
}

html {
  height: 100%;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--cr6);
}

::-webkit-scrollbar-thumb {
  background-color: var(--cr4);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  html {
    scrollbar-gutter: initial;
  }
}
